{% extends 'map/base.html' %}
{% block body %}
<ul>
    <!-- Iterate over object_list -->
    {% for key, values in object_list %}
    <!-- Display Objects -->
    <h1>{{ key }}</h1>
    {% for form in values %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form%}
            {% if not field.id_for_label == 'id_id' and not field.id_for_label == 'id_date_of_update' %}
                <p>{{ field.label_tag }} {{ field }}</p>
            {% else %}
                <p style="display: none;">{{ field.label_tag }} {{ field }}</p>
            {% endif %}
        {% endfor %}
        <input type="submit" name='save' value="Сохранить">
        <input type="submit" name='del' value="Удалить">
    </form>


    <hr/>

    {% endfor %}

    <!-- If object_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
{% endblock %}