{% extends 'map/base.html'%}

{% block title %}Информация{% endblock %}
{% block body%}
<div class="container" style="width: 97%;margin:auto">
    <h1 style="text-align: center;">Общая информация</h1>
<p style="font-size: 20px"><b>Проект 'vodavoz' - интерактивная карта с точками набора воды. Здесь вы можете узнать местонахождение точек воды и наличие воды в этих точках.</b></p>
<p>Местонахождение воды обозначаются метками разных цветов: если метка красная, то воды нет, а если зеленая, то на этой точке есть вода.</p>
<ul>
    <li>Кнопка 'I' - информация о сервисе(где вы сейчас и находитесь)</li>
    <li>Кнопка '⛭' - редактирование меток</li>
    <li>Кнопка '+' - увеличить масштаб</li>
    <li>Кнопка '-' - уменьшить масштаб</li>
    <li>Панель поиска проводит поиск по улицам, где есть метки.</li>
    <li>Метки кликабельны! При нажатии на метку выдается вся нужная информация.</li>
</ul>
<h1 style="text-align: center;">Для тех, кто хочет помочь</h1>
<p>Информацию о состоянии точек воды надо обновлять ежедневно. Одному человеку это сделать невозможно.
    Поэтому, если вы выгуливаете собаку, катаетесь на велосипеде или просто гуляете, то почему бы вам не построить маршут таким образом,
    чтобы вы могли проверять наличие воды на одной или нескольких точек? </p>
<p>Если вы хотите помочь - пишите сюда: <a href="https://t.me/zuriom">https://t.me/zuriom</a></p>
<p>Проект находится на бесплатном хостинге, поэтому нет никакой уверенности что сервис будет работать стабильно и надежно.
    Кто хочет перевести сайт на платный хостинг, переводите деньги сюда: </p>
    <ul>
        <li>Электронный кошелек Payeer: P1059501593</li>
    </ul>
</div>

{% endblock %}